body{
    color: white;
    background-color: #353535;
    font-family: 'Plus Jakarta Sans','Noto Sans', sans-serif;
}

/*Estilos de los marcadores*/
#markers{
    height: 0.5em;
    display: flex; 
    margin: 0;
    margin-left: -1.2em;
    margin-top: -1em;
    padding: .7em;
}
.marker{
    align-items: center;
    display: flex;
    margin-left: 0.1em;
    max-width: 7em;
    border-radius: 1em;
    height: 2em;
    justify-content: space-around;
    overflow: hidden;
    text-overflow: ellipsis;
}
.marker a{
    font-family: 'Noto Sans', sans-serif;
    font-size: .75em;
    font-weight: 500;
    text-decoration: none;
    color: white;
    /* margin: 0.9em; */
    cursor: default;
    margin: 0 0.5em; 
}
.marker:hover{
    background-color: rgba(75, 75, 75, 1);
}
hr{
    margin: 1em -0.5em;
    border-bottom: 0.5px solid #2E2E2E;
}
.marker-icon{
    height: 1rem;
    margin: 0 0.2em 0 0.5em;
}

/*Estilos de la barra de navegación*/
nav{
    font-size: 12px;
    margin-top: -1em;
}
nav .container{
    width: 20em;
    float: right;
}
nav .container ul{
    list-style: none;
    /* white-space: nowrap; */
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav ul li{
    height: 50px;
    display: flex;
    align-items: center;
    float: right;
    display: flex;
    align-items: center;
    padding: 0.7em;
    font-weight: 600;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: flex;
}
nav ul li a:hover{
    text-decoration: underline;
}

/*Icono*/
.icontainer{
    height: 21px;
    width: 21px;
    padding: 10px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 50%;

}
.icontainer:hover{
    background-color: #4D4D4D;
}
.iconP{
    position: relative;
    background-color: white;
    height: 4px;
    width: 4px;
    display: block;
    margin-top: var(--sep);
    border-radius: 50%;
}
.iconP::before ,.iconP::after {
    height: inherit;
    width: inherit;
    background-color: inherit;
    content: '';
    position: absolute;
    border-radius: inherit;

}
.iconP::before{
    left: 6px;
}
.iconP::after{
    right: 6px;
}
/*Titulo*/
h1{
    display: flex;
    font-weight: 900;
    margin-top: 6em;
    justify-content: center ;
    flex-direction: row;
}
h1 span{
    font-size: 75px;
    font-weight: bolder;
    margin: 5px;
    display: block;
    display: flex;
    align-items: baseline;
    justify-content: center;
    letter-spacing: -2px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
h1 span::before{
    content: 'G';
    font-size: 90px;
}
h1 span::after{
    display: inline;
    content: 'e';
    transform: rotate(-20deg);
    margin-left: -0.06em;
}
/*Barra de búsqueda*/
.inputWrapper{
    margin: 45px auto 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 44px;
    width: 561px;
    border: none;
    justify-items: center;
    justify-content: space-around;
    border-radius: 2em;
}
#input{
    border: inherit;
    width: 80%;
    /* padding-inline-end: 44px; */
    /* padding-inline-start: 30px; */
    font-size: 18px;
    font-weight: 500;
}
#input:active , #input:focus{
    outline: none;
}
/*Lupa*/
.icon-container{
    width: 25px;
    height: 44px;
    display: flex;
    
}
#lupa{
    background: transparent;
    height: 7.5px;
    width: 7.5px;
    border: 2px solid #5F6368;
    border-radius: 50%;
    position: relative;
    top: 14px;
    left: 6px;
}
#lupa::after{
    display: inherit;
    position: absolute;
    background-color: #5F6368;
    height: 8px;
    width: 2px;
    content: '';
    top: 6px;
    left: 9px;
    transform: rotate(-45deg);
}
.button-container{
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-items: left;
    width: 20px;
}
.button-container button{
    background: none;
    margin: 0;
    padding: 0;
    border: none;
}
#mic{
    height: 18px;
    width: auto;
}
.button-container button:hover{
    cursor: pointer;
}

/*Accesos directos*/
#shortcuts{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
    .shortcuts-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow-wrap: normal;
        flex-wrap: wrap;
        width: calc(8em * 5);
        animation: entry 0.5s ease-in-out;
    }
    @keyframes entry {
        from{
            opacity: 0;
            /* transform: translateY(10px); */
        }
        to{
            opacity: 1;
            /* transform: translateY(0px); */
        }
    }
        .shortcut{
            font-size: 14px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            border-radius: 0.5em;
            background-color: #353535;
            color: white;
            cursor: pointer;
            height: 8em;
            width: 8em; /*Tamaño de los accesos directos*/
            position: relative;
        }
        .shortcut:hover{
            background-color: #4D4D4D;
        }
            .shortcut-name{
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; /*No se puede quebrar el texto*/
                max-width: 7em;
                font-size: 0.9em;
                font-weight: 500;
            }
            .shortcut-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2em;
                background-color: #2A2A2A;
                padding: 0.8em;
                border-radius: 50%;
            }
                .shortcut-icon img{
                    height: 1.7em;
                }
        .shortcut-menu-wrapper{
            position: absolute;
            top: 0.5em;
            left: 5.8em;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
        }
        .shortcut-menu-wrapper:hover{
            background-color: #6F6368;
        }
            .shortcut-menu{
                position: relative;
                background-color: #ffffff;
                height: 3.5px;
                width: 3.5px;
                border-radius: 50%;
            }
            .shortcut-menu::before , .shortcut-menu::after{
                content: '';
                position: absolute;
                background-color: inherit;
                height: inherit;
                width: inherit;
                /* display: block; */
                border-radius: inherit;
            }
            .shortcut-menu::before{
                bottom: 0.35em;
            }
            .shortcut-menu::after{
                top: 0.35em;
            }
    .shortcut:hover > .shortcut-menu-wrapper{
        animation: entrada .1s ease-in .5s normal forwards;
        
    }
    @keyframes entrada{
        from{opacity: 0;}to{opacity: 1;}
    }
            .add-icon-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5em;
                height: 15px;
                width: 15px;
            }
            .add-icon{   
                width: 2px;
                height: 15px;
                background-color: #ffffff;
                position: relative;
            }
            .add-icon::after{
                content: '';
                width: inherit;
                height: inherit;
                background-color: inherit;
                transform: rotate(90deg);
                position: absolute;
            }