header{
    color: #f72585;
    text-align: center;
    font-size: 20px;
    display: block;
}
nav{
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
nav a{
    background-color: #f71570;
    border-radius: 10px 0px 10px 0px; /*superior izquierdo - superior derecho - inferior derecho - inferior izquierdo*/
    /* font-weight: 800; */
    color: #fff;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    display: block;  
    width: 100%; 
}
section{
    float: right;
    width: 75%;
    color: #7209b7;
    border-radius: 5px;
    /* border: 1px solid black; */
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0,.2);
}
aside{
    float: right;
    width: 30%;
    height: 30px;
    padding: 5px;
    margin: 5px;
    font-style: italic;
    color:#4361ee;
    box-shadow: inset 5px 0 5px -5px #4895ef;
}
footer{
    clear: both;        /*Rompe líner*/
    padding: 1px;
    text-align: center;
}
footer a{
    text-decoration: none;
}